@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.App {
    font-family: Fira Sans;
    display: flex;
    justify-content: center;
    background-color: #BBBBBB;
    width: 100%;
    min-height: 100vh;
}