.Book {
  display:grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-column-gap: 2vw;
  background-color: #A39499;
  align-items: center;
  transition: background-color 0.5s linear;
  width: 100%;
  border-radius: 50px;
  &:hover {
    background-color: #E6DFE1;
  }
  .Title {
    margin:0;
  }
  .info {
    align-self: flex-start;
    margin-left: 1vw
  }
  h4 {
    line-height:0;
  }
  a {
    all:unset;
    &:visited {
      text-decoration: none;
      color:inherit;
    }
  }
  span {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  .buttonContainer {
    background: linear-gradient(to left, #EF2965, #D30040);
    padding:2px;
    border-radius: 25px;
    display:inline-block;
  }
  button {
    all:unset;
    background: #A39499;
    padding:13px;
    color:white;
    border-radius: 25px;
  }
  .smartContainer {
    display: flex;
    justify-content: center;
  }
}