.Book {
  display:grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-column-gap: 2vw;
  background-color: #A39499;
  align-items: center;
  transition: background-color 0.5s linear;
  width: 100%;
  border-radius: 35px;
  &:hover {
    background-color: #E6DFE1;
  }
  &:hover .smartContainer .buttonContainer button {
    background-color: #E6DFE1;
  }
  .baseInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5vw;

      .Title {
        margin:0;
      }

      h5 {
        margin: 0;
      }

  }
  .info {
    align-self: flex-start;
    margin-left: 1vw
  }
  a {
    all:unset;
    &:visited {
      text-decoration: none;
      color:inherit;
    }
  }
  span {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  .buttonContainer {
    background: linear-gradient(to left, #EF2965, #D30040);
    padding:2.5px;
    border-radius: 25px;
    display:inline-block;
  }
  button {
    all:unset;
    background: #A39499;
    padding:12.5px;
    border-radius: 25px;
    transition: background-color 0.5s linear;
  }
  .smartContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .starIcon {
    font-size: 35px;
  }
}