.inputbar {
  width: 80vw;
  height: 12vh;
  top: 0;
  position: sticky;
  background-color: #A39499;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-column-gap: 2vw;
  align-items: center;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  padding: 0 2em 2em ;

  .title {
    font-size: 5.5vmin;
  }

  .Searchbar {
    all: unset;
    background-color: #BBBBBB;
    width: 35vw;
    height: 9.4vh; //modify
    padding-left: 3vmin;
    margin: 0;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    font-size: 24px;
  }
  .inputcontainer {
    padding: 3px;
    background: linear-gradient(to left, #EF2965, #D30040);
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
  }
  .Search {
    all:unset;
    background: linear-gradient(to right, #EF2965, #D30040);
    height: 10vh;
    width: 9vh;
    padding-right: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
  }
  img {
    height: 5vh;
  }
  span {
    display:flex;
    align-items: center;
  }
}

.menu {
  height: 7.6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5vh;

  .menubar {
    height: 1.5vh;
    width: 3vw;
    background: #000;
    border-radius: 25px;
  }

  .favourites {
    font-size: 6.5vmin;
  }
}

.Login {
  top: 15vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 1000;
  margin-top:5vh;
  background-color: #A39499;
  height: 60vh;
  width: 30vw;
  border-radius:25px;
}

.userIcon {
  font-size:6.5vmin;
}