header.inputbar {
  background-color: #A39499;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  .title {
    font-size: 5.5vmin;
  }
  input {
    all:unset;
    background-color: #BBBBBB;
    width: 35vw;
    height: 9.4vh; //modify
    padding-left:3vmin;
    margin: 0;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
  }
  .inputcontainer {
    padding: 3px;
    background: linear-gradient(to left, #EF2965, #D30040);
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
  }
  button {
    all:unset;
    background: linear-gradient(to right, #EF2965, #D30040);
    height: 10vh;
    width: 9vh;
    padding-right: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
  }
  img {
    height: 5vh;
  }
  span {
    display:flex;
    align-items: center;
  }
}